dotenv
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-genai
google-pasta
googleapis-common-protos
gradio
gradio_client
hf-xet
huggingface-hub
json5
jsonpointer
jsonschema
jsonschema-specifications
numpy
pandas
pdf2image
pillow
safetensors
tokenizers
transformers
